.vis-title{
    margin: 20px auto;
    margin-top: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background:black;
    font-size:25px;
    padding: 10px;
    font-variant: small-caps;
}

.typegraph{
    margin:10px;
    background:#fff;
    width:70%;
    margin: auto;
}

.carousel-container{
    margin-bottom: 20px;
}

.analytics {
    /* position: absolute; */
    background-color: white;
    /* top: 10vh;
    left: 10vw; */
    margin: auto;
    margin-top: 50px;
    height: max-content;
    width: 80vw;
    border-radius: 30px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 768px) {
    .typegraph{
        width:100%;
    }
}
  
  