body {
  background-color: #133667;
  color: white;
  text-align: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 20px;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 10px;
  width: 200px;
}

.Result_card {
  display: grid;
  place-items: center;
}

.Results {
  background-color: white;
  width: 380px;
  margin-top: 20px;
  border-radius: 8px;
  color: black;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#city-typeahead-container {
  width: 95vw;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

#city-typeahead-container .form-control {
  font-size: 1.28rem;
  text-align: center;
  border-radius: 0;
}

#city-typeahead-container .form-control:focus {
  border-color: white;
  box-shadow: 0 0 5px 3px #42eff5;
}

#city-typeahead-container .rbt-menu.dropdown-menu {
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
}

@media (max-width: 720px) {
  .Results {
    width: 240px;
  }
}
