body {
  background-color: #133667;
  color: white;
  text-align: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 20px;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 10px;
  width: 200px;
}

.search-btn {
  background-color: inherit;
  border: none;
  padding: 0 10px;
  position: relative;
  top: 12.5px;
  cursor: pointer;
}

.search-logo {
  width: 40px;
  height: auto;
}

.Result_card {
  display: grid;
  place-items: center;
}

.Results {
  background-color: white;
  width: 380px;
  margin-top: 20px;
  border-radius: 8px;
  color: black;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#city-typeahead-container {
  width: 200px;
  margin: auto;
}

/* Weather Thing Tip Section */
.tip-div {
  max-width: 1200px;
  background: rgba(196, 196, 196, 0.18);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  margin: 4% 15%;
  padding: auto 2%;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.tip-div h2 {
  color: #F1C31F;
  font-size: 2.1rem;
  font-weight: 500;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

/* .fa-check {
  color: #F1C31F;
  font-size: 2.1rem;
} */

.tip-div h3 {
  font-weight: 400;
  margin-top: 0 !important;
  padding-top: 0 !important;
  font-size: 1rem;
}

.tip-img {
  max-width: 35px;
  margin-left: 10px;
}

@media (max-width: 720px) {
  .Results {
    width: 240px;
  }
}
