/* Main body styles */
.head-h {
  margin-top: 6%;
}

body {
  background-color: #133667;
  color: white;
  text-align: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 20px;
}

input {
  padding: 10px;
  border-radius: 4px !important;
  border: 10px;
  width: 200px;
  font-size: medium;
}

.search-btn {
  background-color: inherit;
  border: none;
  padding: 0 10px;
  position: relative;
  top: 12.5px;
  cursor: pointer;
}

.search-logo {
  width: 40px;
  height: auto;
}

.Result_card {
  display: grid;
  place-items: center;
}

.Results {
  background-color: white;
  width: 380px;
  margin-top: 20px;
  padding: 10px;
}

#city-typeahead-container {
  width: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
}

/* Weather Thing Tip Section */
.tip-div {
  max-width: 1200px;
  background: rgba(196, 196, 196, 0.18);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  margin: 4% 15%;
  padding: auto 2%;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.tip-div h2 {
  color: #F1C31F;
  font-size: 2.1rem;
  font-weight: 500;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.toggle-graph{
  height: auto;
  padding: 10px;
  font-size: 15px;
  margin-left: 5px;
  background-color: black;
  color:#fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
}

.toggle-graph:hover{
  background-color: burlywood;
  color: black;
  transform: scale(0.8);
}

.active{
  background-color: burlywood;
  color: black;
}

.tip-div h3 {
  font-weight: 500;
  margin-top: 0 !important;
  padding-top: 0 !important;
  font-size: 1rem;
}

.tip-img {
  max-width: 35px;
  margin-left: 10px;
}

@media (max-width: 720px) {
  .Results {
    margin-left: 40px;
    margin-right: 40px;
  }
  #city-typeahead-container {
    width: 250px;
  }
}

@media (min-width: 720px) {
  .Results {
    margin-left: 150px;
    margin-right: 150px;
  }
}


.row{
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
.card {
  /*float: left;*/
  max-width: 15%;
  padding: .75rem;
  margin: 1.5rem;
  border: 0;
  flex-basis: 33.333%;
  flex-grow: 0;
  flex-shrink: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

.Glass{
  color: white;
  text-shadow: 2px 2px 4px #000000;
  background: rgba(122, 122, 122, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur( 8px );
  -webkit-backdrop-filter: blur( 6px );
  border-radius: 6px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* Audio element */
.audio-div {
  mix-blend-mode: multiply;
  opacity: 0.8 !important;
}

audio { 
  opacity: 0.8;
}